@font-face {
  font-family: "ABCSans Regular";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Regular"), url("./abcsans-regular.woff") format("woff");
}
@font-face {
  font-family: "ABCSans Black";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Black"), url("./abcsans-black.woff") format("woff");
}
:root {
  font-size: 1em;
  font-family: "ABCSans Regular", "Arial", sans-serif;
}
html, body {
  height: 100%;
}
body {
  margin: 0;
  overflow: hidden;
}
#container {
  padding: 1rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: column;
}
#title {
  font-weight: bold;
  font-size: 1.25rem;
  color: #1C1C1C;
  margin: 0 0 1rem 0;
}
.row {
  display: flex;
  justify-content: space-between;
  width: 12rem;
}
.row:first-child {
  margin-bottom: .5rem;
}
.row:nth-child(even) {
  background-color: rgb(238, 238, 238);
}
.row div {
  padding: 0 .25rem;
}
.row div:last-child {
  font-family: "ABCSans Black", "Arial Black", sans-serif;
  text-align: right;
  width: 1.75rem;
  color: white;
}
.row:first-child div:last-child {
  color: #1C1C1C;
}
.row.recovered div:last-child, .layer.recovered {
  background-color: #00A388;
  fill: #00A388;
}
.row.infected div:last-child, .layer.infected {
  background-color: #FFB300;
  fill: #FFB300;
}
.row.deaths div:last-child, .layer.deaths {
  background-color: #F75F00;
  fill: #F75F00;
}
#chart {
  margin-top: 1rem;
  height: 100%;
}
#axisGroup .tick text {
  fill: #1C1C1C;
  font-size: .7rem;
}
#yAxisGroup .tick text {
  font-size: .8rem;
}
#axisGroup path {
  stroke: none;
}
#axisGroup .tick line {
  stroke: rgba(28, 28, 28, .25);
  stroke-dasharray: 3 3
}
@media only screen and (width: 638px) {
  #container {
    padding: 0;
  }
}
@media only screen and (min-width: 639px) {
  #container {
    padding: 2rem;
  }
  #title {
    font-family: "ABCSans Black", "Arial Black", sans-serif;
    font-size: 2rem;
    color: #009CBF;
    margin: 0 0 2rem 0;
  }
  .row {
    width: 15rem;
    font-size: 1.2rem;
  }
  .row:first-child {
    margin-bottom: 1rem;
  }
  .row div {
    padding: 0 .5rem;
  }
  .row div:last-child {
    width: 2rem;
    color: white;
  }
  #axisGroup .tick text {
    font-size: .9rem;
  }
  #yAxisGroup .tick text {
    font-size: 1rem;
  }
}
