/* ABC fonts */
@font-face {
  font-family: "ABCSans Regular";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Regular"), url("./abcsans-regular.woff") format("woff");
}
@font-face {
  font-family: "ABCSans Black";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Black"), url("./abcsans-black.woff") format("woff");
}
:root {
  font-size: 1em;
  font-family: "ABCSans Regular", "Arial", sans-serif;
}
body {
  margin: 0;
  overflow: hidden;
  background-color: rgb(238, 238, 238);
}
#container {
  padding: 1rem;
}
h1 {
  font-weight: bold;
  font-size: 1rem;
  margin: 0 0 .5rem 0;
}
#title {
  font-family: "ABCSans Black", "Arial Black", sans-serif;
  font-size: 1.25rem;
  color: #1C1C1C;
  margin: 0 0 1rem 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}
span {
  font-family: "ABCSans Black", "Arial Black", sans-serif;
  color: #009CBF;
}
#notes {
  margin: 1rem 0 0 0;
  color: grey;
  font-size: .9rem;
}
a {
  text-decoration: none;
}
a:hover {
  color: #009CBF;
}
#region {
  display: none;
}
